@charset "UTF-8";

@font-face {
  font-family: "mimi-icons";
  src:url("fonts/mimi-icons.eot");
  src:url("fonts/mimi-icons.eot?#iefix") format("embedded-opentype"),
    url("fonts/mimi-icons.woff") format("woff"),
    url("fonts/mimi-icons.ttf") format("truetype"),
    url("fonts/mimi-icons.svg#mimi-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "mimi-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "mimi-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-01:before {
  content: "a";
}
.icon-sm-icon-32:before {
  content: "b";
}
.icon-icon-02:before {
  content: "c";
}
.icon-icon-03:before {
  content: "d";
}
.icon-icon-04:before {
  content: "e";
}
.icon-icon-05:before {
  content: "f";
}
.icon-icon-06:before {
  content: "g";
}
.icon-icon-07:before {
  content: "h";
}
.icon-icon-08:before {
  content: "i";
}
.icon-sm-icon-01:before {
  content: "j";
}
.icon-sm-icon-02:before {
  content: "k";
}
.icon-sm-icon-03:before {
  content: "l";
}
.icon-sm-icon-04:before {
  content: "m";
}
.icon-sm-icon-05:before {
  content: "n";
}
.icon-sm-icon-18:before {
  content: "o";
}
.icon-sm-icon-31:before {
  content: "p";
}
.icon-sm-icon-30:before {
  content: "q";
}
.icon-sm-icon-17:before {
  content: "r";
}
.icon-sm-icon-16:before {
  content: "s";
}
.icon-sm-icon-29:before {
  content: "t";
}
.icon-sm-icon-28:before {
  content: "u";
}
.icon-sm-icon-15:before {
  content: "v";
}
.icon-sm-icon-14:before {
  content: "w";
}
.icon-sm-icon-27:before {
  content: "x";
}
.icon-sm-icon-13:before {
  content: "y";
}
.icon-sm-icon-26:before {
  content: "z";
}
.icon-sm-icon-25:before {
  content: "A";
}
.icon-sm-icon-12:before {
  content: "B";
}
.icon-sm-icon-11:before {
  content: "C";
}
.icon-sm-icon-24:before {
  content: "D";
}
.icon-sm-icon-10:before {
  content: "E";
}
.icon-sm-icon-23:before {
  content: "F";
}
.icon-sm-icon-22:before {
  content: "G";
}
.icon-sm-icon-09:before {
  content: "H";
}
.icon-sm-icon-08:before {
  content: "I";
}
.icon-sm-icon-21:before {
  content: "J";
}
.icon-sm-icon-20:before {
  content: "K";
}
.icon-sm-icon-07:before {
  content: "L";
}
.icon-sm-icon-06:before {
  content: "M";
}
.icon-sm-icon-19:before {
  content: "N";
}
