/*** Colors ***/
/*    main   */
/*    alt    */
/*** Fonts ***/
@font-face {
  font-family: RailwayLight;
  src: url("../res/font/Raleway-Light.ttf");
}
@font-face {
  font-family: RailwayRegular;
  src: url("../res/font/Raleway-Regular.ttf");
}
@font-face {
  font-family: RailwayMedium;
  src: url("../res/font/Raleway-Medium.ttf");
}
@font-face {
  font-family: FauxSnow;
  src: url("../res/font/fauxsnow.ttf");
}
/*** Globals ***/
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* for loading animations */
.loading-animation {
  font-family: FauxSnow;
  font-size: 40em;
  color: #34362E;
  position: fixed;
  text-align: center;
  width: 100%;
}
span.iofx1 {
  color: #e1e1df;
}
span.iofx2 {
  color: transparent;
}
/* max height div */
.fill-height {
  min-height: 100%;
  height: 100%;
}
/* expanding text areas */
.expandingArea {
  position: relative;
}
.expandingArea > textarea,
.expandingArea > pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
.expandingArea > textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100px;
}
.expandingArea.active > textarea {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  resize: none;
}
.expandingArea > pre {
  display: none;
  margin-bottom: 0;
}
.expandingArea.active > pre {
  display: block;
  visibility: hidden;
}
/*** Overides ***/
body {
  background-color: #242521;
  color: #8F9187;
  font-family: RailwayRegular;
  /* compensates for the custom font on button size, so it matches textinputs */
  /* text inputs */
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body hr {
  color: #707365;
  font-family: RailwayLight;
  margin-bottom: -5px;
}
body hr {
  border-color: #707365;
}
body a {
  color: #A79C7D;
  font-family: RailwayRegular;
}
body a:hover {
  text-decoration: none;
  color: #AFBF7D;
}
body li.selected {
  color: #b4b6af;
}
body .navbar a {
  font-family: RailwayMedium;
  font-size: 1em;
}
body .navbar-fixed-top {
  position: inherit;
  margin-bottom: 0;
}
body .dropdown-menu.navbar-inverse li > a {
  color: #F5F5F5;
}
body .dropdown-menu > li > a:focus,
body .dropdown-menu > li > a:hover {
  color: #242521;
}
body .page-header {
  border-color: #707365;
  padding-bottom: 0;
}
body .jumbotron {
  background-color: #34362E;
}
body .jumbotron h1,
body .jumbotron h2,
body .jumbotron h3,
body .jumbotron h4,
body .jumbotron h5,
body .jumbotron h6 {
  color: #707365;
  font-family: RailwayLight;
}
body p:hover {
  color: #9b9d94;
}
body .btn {
  font-size: 13px;
}
body input,
body textarea {
  padding: 5px;
  color: #dadad7;
  background-color: #34362E;
  border: 1px solid #8F9187;
  font: 400 16px/20px RailwayRegular, helvetica, arial, sans-serif;
  white-space: pre-wrap;
  word-wrap: break-word;
}
body input:hover,
body textarea:hover {
  color: #f2f3f1;
  border-color: #AFBF7D;
}
body .table-striped > tbody > tr:nth-of-type(2n+1) {
  background-color: #34362E;
  color: #9b9d94;
  border: none;
}
body .table thead > tr > th,
body .table tbody > tr > th,
body .table tfoot > tr > th,
body .table thead > tr > td,
body .table tbody > tr > td,
body .table tfoot > tr > td {
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: top;
  border: none;
}
body ::selection {
  background: #8F9187;
  color: #242521;
}
body ::-moz-selection {
  background: #8F9187;
  color: #242521;
}
body .btn {
  border-radius: 0px;
}
body .modal {
  overflow: hidden;
}
body .panel {
  border-radius: 0;
  border-color: #707365;
}
body .panel .panel-body {
  background-color: #171815;
}
body .panel .panel-heading {
  color: #F5F5F5;
  font-family: RailwayLight;
}
body .panel.panel-default .panel-heading {
  border-color: #A79C7D;
  background-color: #31322d;
}
body .panel.panel-primary .panel-heading {
  border-color: #A79C7D;
  background-color: #5A5148;
}
body .panel.panel-primary .panel-body {
  color: #8F9187;
}
body .panel.panel-success .panel-heading {
  border-color: #AFBF7D;
  background-color: #424b25;
}
body .panel.panel-info .panel-heading {
  border-color: #52757C;
  background-color: #293b3f;
}
body .panel.panel-warning .panel-heading {
  border-color: #C9A583;
  background-color: #593f27;
}
body .panel.panel-danger {
  border-color: #C31D1D;
}
body .panel.panel-danger .panel-heading {
  border-color: #C31D1D;
  background-color: #6a1010;
}
/*** Modules ***/
#menuContainer {
  height: 100%;
  background: #222;
}
#menuContainer li {
  cursor: move;
  border-bottom: 1px solid #000;
  border-top: 1px solid #333;
  cursor: pointer;
  padding: 10px 5px;
  color: #BBB;
  background: #1a1a1a;
  font: 12px Arial, sans-serif;
}
#menuContainer li:hover {
  background: #111;
  color: #CCC;
}
/*** Sections ***/
