<nav id="mainNav" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
  <div ng-controller="navCtrl" class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ng-click="changePage('root');" href="/">FYN</a>
    </div>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="nav navbar-nav">

<!--         <li>
          <a href="http://xy0.me/plex">Plex</a>
        </li> -->

        <!-- <li ng-click="changePage('minecraft');" ng-class="{active: Globals.page == 'minecraft'}">
          <a href="">Minecraft</a>
        </li> -->



        <li ng-click="changePage('demo');" ng-class="{active: Globals.page == 'demo'}">
          <a href="">Demo</a>
        </li>

        <li class="dropdown">
          <a href="#" 
             class="dropdown-toggle" 
             data-toggle="dropdown" 
             role="button" 
             aria-haspopup="true" 
             aria-expanded="false"
          >
            View <span class="caret"></span>
          </a>
          <ul class="navbar-inverse dropdown-menu">
            <li class="dropdown-header">Layout</li>
            <li><a href="javascript:void(0)" ng-click="resetWorkspace(1)">Reset Workspace</a></li>
<!--             <li><a href="javascript:void(0)" 
                   ng-show="true" 
                   ng-click="saveWorkspace()"
            >
              Save Workspace
            </a></li>
            <li><a href="javascript:void(0)" 
                   ng-show="Prefs.savedWorkspace != false" 
                   ng-click="loadWorkspace()"
            >
              Load Workspace
            </a></li> -->
            <li><a href="javascript:void(0)" 
                   ng-show="Prefs.noLocalStorage == false" 
                   ng-click="setPref('noLocalStorage', true)"
            >
              Turn Persistance Off
            </a></li>
            <li><a href="javascript:void(0)" 
                   ng-show="Prefs.noLocalStorage == true" 
                   ng-click="setPref('noLocalStorage', false)"
            >
              Turn Persistance On
            </a></li>
          </ul>
        </li>


<!--         <li class="dropdown">
          <a href="#" 
             class="dropdown-toggle" 
             data-toggle="dropdown" 
             role="button" 
             aria-haspopup="true" 
             aria-expanded="false"
          >
            Tools <span class="caret"></span>
          </a>
          <ul class="navbar-inverse dropdown-menu">
            <li class="dropdown-header">Management Tools</li>
            <li><a target="_parent" href="http://xy0.me/minecraft-admin">Minecraft Admin</a></li>
            <li><a target="_parent" href="https://10.0.11.13:7128">Minecraft Shell</a></li>
            <li><a target="_parent" href="http://xy0.me/syncthing-admin/">SyncThing Admin</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Other</li>
            <li><a target="_parent" href="https://10.0.11.12:4200/">FYN Shell</a></li>
          </ul>
        </li> -->


      </ul>


      <ul class="nav navbar-nav pull-right">
        <li class="dropdown" id="menuLogin">
          <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="navLogin">Login</a>
          <div class="dropdown-menu" 
               style="left:auto;right:0;background-color: #222;padding:10px 5px;min-width:193px;"
          >
            <form id="loginForm">
              <input name="username" id="username" placeholder="U" type="text"><br><br>
              <input name="password" id="password" placeholder="P" type="password"><br><br>
              <button type="button" ng-click="login(loginForm);" class="btn btn-sm">Login</button>
              <button type="button" class="btn btn-sm">Create</button>
              <button type="button" class="btn btn-sm">Reset</button>
            </form>
          </div>
        </li>
      </ul>


    </div>
  </div>
</nav>