extends _wireframe
block templateContent
	h2 New Provider Request Submitted
	p From,
	p #{message.providerName}
	p Email Address: #{message.emailAddress}, Phone Number: #{message.phoneNumber}
	p Thanks,
	p the Mimi team