extends _wireframe
block templateContent
	h2 New Tour Scheduled
	p From,
	p #{message.userID}
	p ProviderID: #{message.providerID}
	p Date: #{message.date} Time: #{message.time}
	p 
	p Thanks,
	p the Mimi team