extends _wireframe
block templateContent
	h2 Thanks #{name} for signing up!
	div Before you can log in, please click the button below to confirm your email address.
	a(href=resetLink)= "Click Here"
	p Thanks,
	p the Mimi team