extends _wireframe
block templateContent
	h2 Reset your Password
	div Reset the password to your account at Mimi by clicking the link below. You will be brought to a page where you can create a new password.
	a(href=resetLink) Click Here
	p Thanks,
	p the Mimi team